*{
    margin: 0px;
}

body{
    background-color: #FCE7C8;
    margin: 0px;
}

h1{
    font-family: "consolas", "sans-serif";
    color: #FCE7C8;
    position: relative;
    top: 20px;
    left: 50px;
}

p{
    font-family: "consolas", "sans-serif";
    color: #03d592;
}

#index-header{
    border-bottom: 2px black solid;
    height: 80px;
    width: 100%;
    background-color: #F0A04B;
}

#login-btn{
    position: relative;
    left: 80%;
}

#signup-btn{
    position: relative;
    left: 90%;
}

#box1{
    border: 3px black solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    padding: 10px;
    background-color: #1ec08c;
}

#box2{
    border: 3px black solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    padding: 10px;
    background-color: #26b8c8;
}



