*{
    margin: 0px;
}

body{
    background-color: #FCE7C8;
}


h1{
    font-family: "consolas", "sans-serif";
    color: #FCE7C8;
    position: relative;
    top: 20px;
    left: 50px;
}

a{
    text-decoration: none;
}

p{
    font-family: "consolas", "sans-serif";
    color: #03d592;
}

#index-header{
    border-bottom: 3px black solid;
    height: 80px;
    width: 100%;
    background-color: #1ec08c;
    position: fixed;
}

button{
    font-family: "consolas", "sans-serif";
    border: none;
    color: #1ec08c;
    font-size: large;
    font-weight: bold;
    background-color: #FCE7C8; 
    height: 40px;
    width: 125px;
    border-radius: 60px;
    
}

button:hover{
    background-color: #b0ec90;
}

/* button:active{
    background-color: #fae993;
} */

#login-btn{
    position: relative;
    bottom: 37px;
    margin-right: 2%;
}

#signup-btn{
    margin-right: 1%;
    position: relative;
    bottom: 37px;
}

#contacts-btn{
    border-radius: 0px;
    position: relative;
    bottom: 37px;
    color: #FCE7C8;
    background-color: #1ec08c;
    font-size: larger;
}

#about-btn{
    border-radius: 0px;
    margin-right: 1%;
    position: relative;
    bottom: 37px;
    color: #FCE7C8;
    background-color: #1ec08c;
    font-size: larger;
}

.nav-header-btn{
    position: relative;
    left: 62%;
}


#box1{
    border: 3px black solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    padding: 10px;
    background-color: #1ec08c;
    position: relative;
    top: 100px;
}

#box2{
    border: 3px black solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    padding: 10px;
    background-color: #26b8c8;
    position: relative;
    top: 100px;
}

